body {
    position: relative;
}

#menu {
    position: absolute;
    right: 0;
    top: 0; 
    width: 150px; 
    list-style-type: none;
    padding: 0 0 0 20px;
    background-color: #64a;
}

#menu li {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 3px;
    background-color: #66c;
}

#menu li a {
    text-decoration: none;
    color: white;
    
}

#main {
    overflow: auto;
}